.featured-works{
    width: 100%;
    padding: 130px 0;
    background-color: #fbfbfb;
}
.featured-works__cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 115px;
}
.featured-works__item{
    width: calc(33.33333% - 20px);
    height: 355px;
    margin-top: 30px;
}
.featured-works__item:nth-child(1),
.featured-works__item:nth-child(2),
.featured-works__item:nth-child(3){
    margin-top: 0;
}