.sites{
    width: 100%;
    padding: 80px 0;
    background-color: #fbfbfb;
}
.sites__cont{
    display: flex;
    justify-content: space-between;
}
.sites__item{
    width: 16.66666%;
    display: flex;
    justify-content: center;
}
.sites__item_img{
    width: 70%;
    display: block;
}

/* 
response 
*/

@media screen and (max-width: 992px) {
    .sites__item{
        width: 33.3333%;
    }
    .sites__item:nth-child(4),
    .sites__item:nth-child(5),
    .sites__item:nth-child(6){
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .sites__cont{
        flex-direction: column;
        align-items: center;
    }
    .sites__item{
        width: 70%;
        margin-top: 20px;
    }
    .sites__item:first-child{
        margin-top: 0;
    }
}