body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width: 1140px;
    margin: 0 auto;
}
.logo__name_color{
    text-transform: capitalize;
    color: #e5917c;
}

/*
response 
*/

@media screen and (max-width: 1150px) {
    .wrapper {
      width: 95%;
    }
}