.services__img{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services__img_apple{
    width: 100%;
    display: block;
}

/* 
response 
*/

@media screen and (max-width: 755px) {
    .services__img{
        width: 50%;
        margin-top: 50px;
    }
}